<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/d8c09fa8ce.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRkEAbMRIBsMiE7nQoTQ6T4E5i4FO/cs8lEFJPTFd" crossorigin="anonymous"></script>
</head>
<body>
    <div class="dashboard">
        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="/Dashboard/Index" class="sidebar-title">Dashboard</a>
            </div>
            <ul>
                <li><a href="#" onclick="loadContent('/Dashboard/Orders/Index?handler=Partial')"><i class="fa-solid fa-cart-shopping"></i> Orders</a></li>
                <li><a href="#" onclick="loadContent('/Dashboard/Categories/Index?handler=Partial')"><i class="fa-solid fa-list"></i> Categories</a></li>
                <li><a href="#" onclick="loadContent('/Dashboard/Products/Index')"><i class="fa-solid fa-bag-shopping"></i> Products</a></li>
                <li><a href="#" onclick="loadContent('/Dashboard/Customers/Index')"><i class="fa-regular fa-user"></i> Customers</a></li>
                <li><a href="#" onclick="loadContent('/Dashboard/Statistics/Index')"><i class="fa-solid fa-square-poll-vertical"></i> Statistics</a></li>
                <li><a href="#" onclick="loadContent('/Dashboard/Design/Index')"><i class="fa-solid fa-pen-nib"></i> Design</a></li>
                <li><a href="#" onclick="loadContent('/Dashboard/Materials/Index')"><i class="fa-solid fa-database"></i> Materials</a></li>
            </ul>
        </nav>
        <div class="content">
            <div class="header">
                <div class="logout">
                    <a href="/Account/Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
            </div>
            <div id="content-area" class="content-area">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function loadContent(url) {
            $('#content-area').html('<div class="loading">Loading...</div>');
            $('#content-area').load(url, function (response, status, xhr) {
                if (status == "error") {
                    $('#content-area').html("<p>Sorry, there was an error loading the content.</p>");
                }
            });
        }
    </script>
</body>
</html>
