@page
@model JPOS.Controller.Pages.DesignPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Design</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Design.DesignId" />
            <div class="form-group">
                <label asp-for="Design.CreateBy" class="control-label"></label>
                <input asp-for="Design.CreateBy" class="form-control" />
                <span asp-validation-for="Design.CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design.Picture" class="control-label"></label>
                <input asp-for="Design.Picture" class="form-control" />
                <span asp-validation-for="Design.Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design.Description" class="control-label"></label>
                <input asp-for="Design.Description" class="form-control" />
                <span asp-validation-for="Design.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design.CreateDate" class="control-label"></label>
                <input asp-for="Design.CreateDate" class="form-control" />
                <span asp-validation-for="Design.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

