@page
@model JPOS.Controller.Pages.AccessDeniedPage
@{
    ViewData["Title"] = "Access Denied";
}

<h1 style="color: red;">403 - Access Denied</h1>

<p style ="color: red;">You do not have permission to access this page.</p>