@page
@model JPOS.Controller.Pages.ForgetPasswordPageModel
@{
    ViewData["Title"] = "Forget Password";
}

@if (Model.check)
{
    <form asp-page-handler="ComfirmPassword" method="post">
        <label>Email</label><input asp-for=@Model.Email type="email" /><br />
        <label>Password</label><input asp-for=@Model.Password /><br />
        <label>OTP</label><input asp-for=@Model.OTP type="number" /><br />
        <button type="submit">Confirm</button>
    </form>
}
else
{
    <div>
        <form method="post">
            <label>Email</label><input asp-for=@Model.Email type="email" /><br />
            <button type="submit">Send Verification</button>
        </form>
    </div>
}
